.main {
    width: 1440px;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "pott pott pott card card bott bott bott";
    position: relative;
}

.main .top-ball {
    grid-area: pott;
    width: 100%;
    height: 50%;
    background-size: cover;
    position: absolute;
    bottom: 50%;
    transform: rotate(180deg);
    overflow: hidden;
}

.main .bottom-ball {
    grid-area: bott;
    width: 100%;
    height: 50%;
    background-size: cover;
    position: absolute;
    top: 50%;
    overflow: hidden;
}

.card {
    position: absolute;
    grid-area: card;
    background-color: white;
    height: 50%;
    border-radius: 15px;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    margin: 15px;

    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "vector" "hr" "describtion";
}

.vector {
    grid-area: vector;
    display: flex;
    flex-direction: column;
    position: relative;
}

.vector-background {
    width: auto;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.vector-details {
    align-self: center;
    position: absolute;
    top: 25%;

}

.vector-details img {
    border: 5px solid white;
    border-radius: 50%;

}

.vector span {
    opacity: 50%;
    margin: 5px;
    font-weight: 400;
    font-size: 18px;
}

.vector p {
    opacity: 50%;
}

hr {
    grid-area: hr;
    width: 100%;
    opacity: 50%;
}

.describtion {
    grid-area: describtion;
    display: flex;
    justify-content: space-evenly;
}

.describtion p {
    opacity: 50%;
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
    .main {
        width: 375px;
        grid-template-columns: 1fr;
        grid-template-areas: "card";
    }

    .bottom-ball {
        top: 70%;
    }
    .top-ball {
        bottom: 70%;
    }
}